/*обнуление стилей*/
*,
*::before,
*::after {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  /* прописываю наиболее часто исп. шрифт и его х-ки */
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  /* техн.класс, будем подставлять в вёрстку секций /блоков для ограничения*/
  max-width: 1600px;
  margin: 0px auto;
  /* при суженни экрана будут появлятся отступы, что бы не было прилипания */
  /* padding: 0px 15px;
  box-sizing: content-box; */
}

/* -----ПЕРВАЯ СЕКЦИЯ С КОНТАКТАМИ --------*/
.header {
  /* position: absolute; */
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  max-width: 1200px;
  height: 184px;
  margin: 0 auto;
}
.header__container {
  min-height: 184px;
}
.header__about {
  display: flex;
  justify-content: left;
  min-height: 104px;
  align-items: center;
  flex-wrap: wrap; /* длчя переноса эл-ов при уменьшении экрана */
  margin: 0px auto;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.name__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 129px;
  margin: 0 0 0 13.42px;
}
.img__2 {
  margin-top: 4.22px;
}
.header__title {
  margin: 0 0 0 177px;
  font-family: Montserrat;
  line-height: 140%;
  color: #212121;
  opacity: 0.7;
}
.header__phone {
  height: 20px;
  min-width: 148px;
  top: 16px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: #212121;
  opacity: 0.7;
  margin-left: 122px;
}
.header__btn {
  display: flex;
  align-items: center;
  margin: 0 0 0 40px;
  background-color: #ffffff;
  height: 52px;
  width: 222px;
  border-radius: 100px;
  padding: 16px 28px 16px 28px;
  border: 1px solid #ff5900;
}
.btn__icon {
  width: 16.5px;
  height: 16.5px;
  margin-right: 9.5px;
}
.btn__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #ff5900;
}
/* -----ВТОРАЯ СЕКЦИЯ МЕНЮ --------*/
.header__menu {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80px;
  flex-wrap: wrap; /* длчя переноса эл-ов при уменьшении экрана */
  margin: 0px auto;
}
.menu__item {
  margin: 0 0 0 40px;
}
.menu__item_first {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
}
.menu__item_last {
  margin-left: 46px;
}
.menu__link {
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: left;
  text-transform: uppercase;
  color: #212121;
}
.menu__img_first {
  margin-left: 4px;
  cursor: pointer;
}
/* третья секция комплексный интернет-маркетинг */
.main {
  flex: 1 1 auto;
}
._container {
  max-width: 1600px;
  margin: 0px auto;
}
.main-block {
  position: relative;
  background: url(./assets/img/fill.jpg) center center/ cover no-repeat;
  height: 716px;
  max-width: 1600px;
}
.main-block__body {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 336px;
  width: 777.57px;
  margin-top: 170px;
  margin-left: 200px;
}
.main-block__title {
  font-family: Montserrat;
  font-size: 68px;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
  color: #ffffff;
}
.main-block__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  color: #ffffff;
  margin-top: 28px;
}
.main-block__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  width: 735px;
  margin-top: 52px;
}
.main-block__button {
  border-radius: 100px;
  padding: 20px 40px 20px 40px;
  background: #ff5900;
}
.main-block__button_link-1,
.main-block__button_link-2 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.main-block__button_border {
  border-radius: 100px;
  padding: 19px 39px 19px 39px;
  backdrop-filter: blur(2.5px);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  backdrop-filter: blur(2.5px);
}


.marketing-complex {
  display: block;
  position: absolute;
  width: 780px;
  height: 150px;
  margin-top: 170px;
  margin-left: 200px;
}
.marketing-complex-title {
  font-family: Montserrat;
  font-size: 68px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.marketing-article {
  display: block;
  position: absolute;
  height: 44px;
  width: 780px;
  margin-top: 348px;
  margin-left: 200px;
}
.marketing-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

/*четвёртая секция Лучшие решения */
/* .offers {
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 1386px;
  background-color: #f8f8f8;
}
.offers-solution {
  display: block;
  position: absolute;
  width: 885px;
  height: 46px;
  margin-top: 120px;
  margin-left: 200px;
}
.offers-solution-title {
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: #212121;
}

.one {
  display: block;
  position: relative;
  margin-top: 226px;
  margin-left: 200px;
}
.two {
  margin-top: 226px;
  margin-left: 620px;
}
.three {
  margin-top: 226px;
  margin-left: 1040px;
}
.four {
  margin-top: 768px;
  margin-left: 200px;
}
.five {
  margin-top: 768px;
  margin-left: 620px;
}
.six {
  margin-top: 768px;
  margin-left: 1040px;
} */
/* ---------- вторая карточка ---------------  */
/*
.offers-item {
  display: block;
  position: absolute;
  height: 502px;
  width: 360px;
  background: #f8f8f8;
  border: 1px solid rgba(51, 51, 51, 0.3); /* вместо Hex применил rgba, что бы opasity 0.3 применилось только на рамку*/
/*
}
.item-title {

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #212121;
}
.title-one {
  min-height: 50px;
  min-width: 277px;
  margin: 32px 41.5px 0;
}
.item-text {
 
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #212121;
  opacity: 0.5;
}
.text-one {
  min-height: 80px;
  min-width: 312px;
  margin: 20px 24px 0;
}
.img-line {
  height: 1px;
  width: 312px;
  background: #333333;
  opacity: 0.2;
  margin: 20px 24px 0;
}
.price-one {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 25px;
  margin-left: 31.83px;
}
.price-img {

  height: 21.91px;
  width: 20.91px;
}

.price-rub {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff5900;
}
.price-rub-one {
  height: 25px;
  width: 126px;
  margin-left: 22px;
}

.discounts-one {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 15px;
  margin-left: 24.85px;
}
/* .discounts-img {
}
.discounts-img-one {
} */
/*
.discounts-content {
  margin-left: 12px;
}

.discounts-content-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  text-decoration-line: line-through;
  color: #212121;
  opacity: 0.5;
}
.discounts-content-price-one {
  height: 22px;
  width: 107px;
}
.discounts-content-text {

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
 
  letter-spacing: 0em;
  text-align: left;
  color: #212121;
}

.detailed-one,
.detailed-two {
  display: block;
  position: absolute;
  height: 17px;
  width: 86px;
  margin-left: 214px;
  margin-bottom: 20px;
}
.detailed-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
  color: #ff5900;
}
.detailed-img {
  display: block;
  width: 28px;
  color: #ff5900;
  text-align: left;
  margin-left: 8px;
}*/
/* ---------- вторая карточка ---------------  */
/*
.title-two {
  min-height: 25px;
  min-width: 270px;
  margin: 31px 45px 45px 0;
}
.text-two {
  min-height: 80px;
  min-width: 312px;
  margin: 45px 24px 0;
}
.discounts-one {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 15px;
  margin-left: 24.85px;
}
.discounts-img-two {
  margin-bottom: 19px;
}
.discounts-content-text-two {
  min-height: 60px;
  width: 229px;
  text-align: left;
}

.find {
  display: block;
  position: relative;
  background: url(./assets/img/fill-2.jpg) center center/cover no-repeat;
  height: 789px;
}
.find-client {
  display: block;
  position: absolute;
  height: 46px;
  width: 854px;
  margin-top: 120px;
  margin-left: 346px;
}
.find-client-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}
.find-article {
  display: block;
  position: absolute;
  height: 66px;
  width: 908px;
  margin-top: 206px;
  margin-left: 346px;
}
.find-article-text {
  width: 908px;
  height: 66px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
.form {
  display: block;
  position: absolute;
  height: 357px;
  width: 630px;
  margin-top: 312px;
  margin-left: 485px;
  background: #f4f4f4;
}*/

/* -----------ПОДВАЛ-----------  */

.footer {
  display: flex;
  justify-content: left;
  align-items: top;
  height: 583px;
  width: 1600px;
  background-color: #333333;
}
h4 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  align-items: left;
  opacity: 0.5;
  color: #ffffff;
}
/* -- первый блок -- */

.footer-one {
  min-width: 193px;
  height: 330px;
  margin-top: 100px;
  margin-left: 200px;
  background: #333333;
}
.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: start;
}
.footer-logo {
  height: 48px;
  width: 43px;
}
.footer-region {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 57px;
}
.region-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: Medium;
  opacity: 50%;
  color: #ffffff;
}
.city {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  margin-top: 3px;
  margin-left: 4px;
  color: #ffffff;

  border-bottom: 1px solid #ffffff;
  padding-bottom: 2px;
}
.footer-contact {
  height: 48px;
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 23.8px;
  color: #ffffff;
}
.footer-INN {
  height: 48px;
  min-width: 158px;
  margin-top: 12px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 40px;
  margin-top: 28px;
}
.Telegram {
  margin-left: 20px;
}
*/
/* -- второй блок -- */

.footer-two {
  min-width: 228px;
  height: 360px;
  margin-top: 100px;
  margin-left: 167px;
  background: #333333;
}

.footer-offers,
.footer-abilities,
.footer-about {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.footer-item {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}
/* -- третий блок -- */

.footer-three {
  min-width: 210px;
  height: 330px;
  margin-top: 100px;
  margin-left: 107px;
  background: #333333;
}
.footer-four {
  min-width: 188px;
  height: 330px;
  margin-top: 100px;
  margin-left: 107px;
  background: #333333;
}
.line {
  width: 1200px;
  margin-top: 532px;
  border-top: 1px solid #ffffff;
}
