* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;
}
/* первая секция с контактами   */
.header {
  display: flex;
  align-items: center;
  height: 104px;
}
.header-logo {
  margin-left: 200px;
}
.header-name {
  display: flex;
  flex-direction: column;
  margin-left: 13.42px;
}
.header-name-img1 {
  width: 128.62px;
  height: 24.45px;
}
.header-name-img2 {
  margin-top: 4.22px;
  height: 8.5px;
  width: 123.93px;
}
.header-appeal {
  margin-left: 177px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  height: 20px;
  width: 331px;
}
.header-phone {
  margin-left: 95px;
  font-family: Montserrat;
}
.header-phone-number {
  text-decoration: none; /* убрал подчёркивание номера телефона*/
  width: 148px;
  height: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #212121;
  opacity: 0.7;
}
.header-button {
  display: flex;
  gap: 10px;
  width: 222px;
  height: 52px;
  border: 1px solid #ff5900 ;
  border-radius: 100px;
  margin-left: 40px;
  margin-right: 200px;
}
.header-button-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 16px 28px;
  width: 164.24px;
}
.header-button-img {
  height: 16.6px;
  width: 16.57px;
  left: 1.76px;
  top: 1.66px;
  margin-right: 9.67px;
}
.header-button-text1 {
  font-weight: 500;
  font-size: 16px;
  color: #ff5900;
  margin-right: 5px;
}
.header-button-text2 {
  font-weight: 500;
  font-size: 16px;
  color: #ff5900;
}